-r requirements.txt

# Main
Django
djangorestframework
psycopg2-binary
python-dotenv

# Development tools
django-debug-toolbar
django-extensions
ipython
ipdb

# Clean Coding
flake8
isort
black

# Deployment
gunicorn